
<style>
   .btn1 {
    background-color: lightblue; 
    border: 1px solid white; 
    color: black; 
    padding: 10px 24px; 
    cursor: pointer; 
    float: right;
    font-size: 16px;
    margin-top: 12px; 
  }

    .btn2 {
    background-color: lightblue; 
    border: 1px solid white; 
    color: black; 
    padding: 10px 24px; 
    cursor: pointer; 
    float: right;
    font-size: 16px;
    margin-top: 12px; 
  }

  .btn1:after, .bnt2:after {
    content: "";
    clear: both;
    display: table;        
  }
  
  .btn1 :not(:last-child), .btn2 :not(:last-child) {
    border-right: none; 
  }

  .active, .btn1:hover, .btn2:hover {
    background-color: rgb(32, 103, 218);
    color:white;
  } 

  .dropbtn1, .dropbtn2 {
  background-color: green;
  color: white;
  margin-left: 300px;
  margin-top: 12px; 
  padding-left: 150px;
  padding-right: 150px; 
  padding-top: 10px; 
  padding-bottom: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  
}

.dropbtn1:hover, .dropbtn1:focus, .dropbtn2:hover, .dropbtn2:focus {
  background-color: darkgreen;
  
}

.dropdown {
  position: relative;
  display: inline-block;
   
 
}

.dropdown-content1, .dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 300px;
}

.dropdown-content1 a, .dropdown-content2 a {
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 300px;
  text-decoration: none;
  display: block;
}


.dropdown a:hover {background-color: #ddd;}

.show {
    display: block;
}

#mySearch {
  width: 80%;
  float: left;
  padding: 10px; 
  margin-left: 150px;
  font-size: 16px;
  border: 1px solid green;
}


.bg {
{% load static %}
  background-image: url("{% static "/images/bayer.jpg" %}");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top:400px;
    margin-bottom: 20px;
  
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(32, 103, 218);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  vertical-align: center;
  margin-left: 770px; 
  margin-top: 15px;
}

.button:hover {background-color: lightblue}

.button:active {
  background-color: rgb(72, 142, 207);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.selected{
    color: darkgray;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
 
}
table{
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px; 
    margin-bottom: 30px; 
}

</style>

