<form action="{% url 'search' %}" method='get'>
    {% csrf_token %}
    {{ form }}
    <input type='submit' value='Search'>
</form>

{% if searchMeta %}
<h4>Search Results</h4>
Search Term:&nbsp{{searchMeta.searchterm}}<br>
Tweets Requested:&nbsp{{searchMeta.tweetsToget}}<br>
Tweets Returned:&nbsp{{searchMeta.returnCount}}<br>
Avg. Sentiment:&nbsp{{searchMeta.avgSentiment.sentiment__avg}}<br>
Positive Tweets:&nbsp{{searchMeta.numPosTweet}}<br>
Negative Tweets:&nbsp{{searchMeta.numNegTweet}}<br>
Neutral Tweets:&nbsp{{searchMeta.numNeuTweet}}<br>
Unique Tweets:&nbsp{{searchMeta.uniqueTweet}}
{% endif %}

{% if posTweets %}
<table class='twitterSearchResults' name='positiveTweets'>
    <tr>
        <th>Most Positive Tweets</th>
        <th>Count</th>
        <th>Sentiment</th>

    </tr>
    {% for tweets in posTweets %}
    <tr>
        <td>{{ tweets.fullText }} </td>
        <td>{{ tweets.tweetCount }} </td>
        <td>{{ tweets.sentiment }} </td>
    </tr>
    {% endfor %}
</table>

{% endif %}
{% if negTweets %}
<table class='twitterSearchResults' name='negativeTweets'>
    <tr>

        <th>Most Negative Tweets</th>
        <th>Count</th>
        <th>Sentiment</th>

    </tr>
    {% for tweets in negTweets %}
    <tr>
        <td>{{ tweets.fullText }} </td>
        <td>{{ tweets.tweetCount }} </td>
        <td>{{ tweets.sentiment }} </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% if common %}
<table class='twitterSearchResults' name='commonTweets'>
    <tr>
        <th>Most Common Tweets</th>
        <th>Count</th>
        <th>Sentiment</th>
    </tr>
    {% for tweets in common %}
    <tr>
        <td>{{ tweets.fullText }} </td>
        <td>{{ tweets.tweetCount }} </td>
        <td>{{ tweets.sentiment }} </td>
    </tr>
    {% endfor %}
</table>

{% endif %}

{% if wordList %}
<table>
    <tr>
        <th> Word List </th>
    </tr>
    {% for word in wordList %}
    {% cycle '<tr><td>' '<td>' '<td>' '<td>' '<td>' %}
    {{word}}
    {% cycle '</td>' '</td>' '</td>''</td>''</td></tr>' %}
    {% endfor %}
</table>

{% endif %}