<!DOCTYPE html>
<html lang="en">
<head>
  <title>Reddit - Bayer Sentiment Analyzer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
    table, th, tr, td {
	border: 1px solid black;
    }
    table {
	border-collapse: collapse;
    th, td {
        padding: 5px;
    }
    .commentTable {
	overflow: auto;
}
  </style>
</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Sentiment Analyzer</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/twitter/">Twitter</a></li>
        <li class="active"><a href="#">Reddit</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Sentiment Analyzer</h2>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/Twitter/">Twitter</a></li>
        <li class="active"><a href="#">Reddit</a></li>
      </ul><br>
    </div>
    <br>
    
    <div class="col-sm-9">
<!--
      <div class="well">
        <h4>Dashboard</h4>
        <p>Here is where we can show some recent searches</p>
      </div>
-->
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4>Total Number of Comments</h4>
            <p id="num_threads_searched">{{numComments}}</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Last Subreddit Searched</h4>
            <p id="num_comments_parsed">{{subreddit}}</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Last text searched</h4>
            <p id="last_string_searched">{{itemSearched}}</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Sentiment Score</h4>
            <p id="last_string_score">{{sentimentScore}}</p> 
          </div>
        </div>
      </div>
<form action=" {% url 'redditsearch' %}" method="post">
{% csrf_token %}
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <p>Subreddit to search:</p>
	    <input type="text" name="subreddit" id="subreddit" required>  
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Search Term:</p>
	    <input type="text" name="searchTerm" id="searchTerm" required>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <input type="submit" value="Submit"> 
          </div>
        </div>
      </div>
</form>
      <div class="row">
        <div class="col-sm-12">
          <div class="well">
<div class="commentTable">
{% if commentsList %}
<table>
<tr>
<th>Example Comment Retrieved</th>
<th>Composite Sentiment Score</th>
</tr>
{% for comment in commentsList %}
<tr>
<td>{{comment.0.body}}</td>
<td>{{comment.1}}</td>
</tr>
{%endfor%}
</table>

{% endif %}
</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>

