{% load static%}

<!DOCTYPE html>

<html>

  <head>
    <title>Home</title>
  </head>

  <body id = "page-index">

    <main>
      <div class="bg">

      </div>

      <form action="{% url 'Home' %}" method="GET">        
        <div id="btn-group1" style = "width: 90%">
          <button class = "btn1 active" value='Twitter' style = "width:45%">Twitter</button>
          <button class = "btn1" style = "width:45%">Reddit</button>
          
          
        </div>
      </form>
       
<!--       
        

        <div id="btn-group1" style = "width: 90%">
          <button class = "btn1 active" style = "width:45%">Twitter</button>
          <button class = "btn1" style = "width:45%">Reddit</button>
        </div>

        <div id="btn-group2" style = "width: 90%">
            <button class = "btn2 active" style = "width:45%">Sentament</button>
            <button class = "btn2" style = "width:45%">Technologies</button>
          </div>

          <div class="dropdown">
                <button onclick="myFunction1()" class="dropbtn1">Time Frame</button>
                <div id="myDropdown1" class="dropdown-content1">
                  <a href="#week active" >1 Week</a>
                  <a href="#one">1 Month</a>
                  <a href="#four">4 Months</a>
                  <a href="#eight">8 Months</a>
                  <a href="#twelve">12 Months</a>
                </div>
              </div>

              <div class="dropdown">
                    <button onclick="myFunction2()" class="dropbtn2">Location</button>
                    <div id="myDropdown2" class="dropdown-content2">
                      <a href="#c">Central</a>
                      <a href="#ec">EastCoast</a>
                      <a href="#n">Northern</a>
                      <a href="#s">Southern</a>
                      <a href="#sw">SouthWestern</a>
                      <a href="#wc">WestCoast</a>
                    </div>
                  </div>
            <div>
                    <button class="button">Search</button>
            </div> 
-->
                        
            <div>
            <table style="width:100%">
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    </tr>
                  </table>
                </div>
        
           
        </main>
    </body>
</html>
